@model TripCreateModel
<div class="card">
    <div class="card-body">
        <h1>Edit Trip</h1>
        <hr />
        @*Method="post" -> kayıt yapıcagımız da kullanılır*@
        <form asp-controller="Admin" asp-action="TripCreate" method="post" enctype="multipart/form-data">
            <input type="hidden" name="TripId" value=@Model.TripId />

            <div class="row">
                <div class="col-md-8">
                    @*Buraya Product bilgileri gelecek*@


                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="FromWhereId">Kalkış</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select" asp-for="FromWhereId">
                                <option selected></option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option value="@city.CityId">@city.Name</option>
                                }
                            </select>
                        </div>
                        @* asp-validation-for => yazdığımız hata mesajlarını gösterir*@

                    </div>


                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="ToWhereId">Varış</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select" asp-for="ToWhereId">
                                <option selected></option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option value="@city.CityId">@city.Name</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="Price"></label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" asp-for="Price" />

                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>

                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="Time">Time</label>
                        </div>


                        <div class="col-md-10">
                            <input class="form-control" type="time" asp-for="Time" />
                        </div>


                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="Date">Date</label>
                        </div>


                        <div class="col-md-10">
                            <input class="form-control" type="date" asp-for="Date" />
                        </div>


                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="EstimatedTime">Estimated Time</label>
                        </div>


                        <div class="col-md-10">
                            <input class="form-control" type="text" asp-for="EstimatedTime" />
                        </div>


                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-2">
                            <label asp-for="BusId">BusId</label>
                        </div>


                        <div class="col-md-10">
                            <input class="form-control" type="text" asp-for="BusId" />
                        </div>


                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-10 offset-2">
                            <button class="btn btn-success" type="submit">Save Changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
