@model ShowTicketModel
<input name="BusId" type="hidden" value="@Model.BusId" />
<input name="BusId" type="hidden" value="@Model.PassengerId" />
<input name="BusId" type="hidden" value="@Model.TripId" />
<div class="row">
<div class="card mt-3">
    <div class="card-body">
        <h1>ENVER</h1>
    </div>
    </div>
</div>